<div class="main-content container mt-4">
  <div class="card form-card">
    <div class="card-header form-header">
      <h3 class="mb-0">{{ isEdit ? 'Editar Producto' : 'Nuevo Producto' }}</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="row">
          <!-- Código -->
          <div class="col-md-6 mb-3">
            <label for="cod" class="form-label">Código</label>
            <input type="text" id="cod" class="form-control category-input" formControlName="cod" />
          </div>

          <!-- Nombre -->
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" id="name" class="form-control category-input" formControlName="name" />
          </div>

          <!-- Categoría -->
          <div class="col-md-6 mb-3">
            <label for="categoryProductId" class="form-label">Categoría</label>
            <select formControlName="categoryProductId" class="form-control category-input">
              <option value="" disabled selected>Seleccione una categoría</option>
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.name }}</option>
            </select>
          </div>

          <!-- Proveedor -->
          <div class="col-md-6 mb-3">
            <label for="supplierProductId" class="form-label">Proveedor</label>
            <select formControlName="supplierProductId" class="form-control category-input">
              <option value="" disabled selected>Seleccione un proveedor</option>
              <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">{{ proveedor.name }}</option>
            </select>
          </div>

          <!-- Marca -->
          <div class="col-md-6 mb-3">
            <label for="brand" class="form-label">Marca</label>
            <input type="text" id="brand" class="form-control category-input" formControlName="brand" />
          </div>

          <!-- Modelo -->
          <div class="col-md-6 mb-3">
            <label for="model" class="form-label">Modelo</label>
            <input type="text" id="model" class="form-control category-input" formControlName="model" />
          </div>

          <!-- Año -->
          <div class="col-md-6 mb-3">
            <label for="year" class="form-label">Año</label>
           <input
  type="number"
  id="year"
  class="form-control category-input"
  formControlName="year"
  min="1900"
  [max]="currentYear"
/>
            <div *ngIf="productForm.get('year')?.invalid && productForm.get('year')?.touched" class="text-danger">

              <div *ngIf="productForm.get('year')?.errors?.['invalidYear']" class="text-danger">
                <div *ngIf="productForm.get('year')?.errors?.['invalidYearRange']" class="text-danger">
                  El año no es válido.
                </div>

              </div>

            </div>

            <!-- Precio de Costo -->
            <div class="col-md-6 mb-3">
              <label for="costPrice" class="form-label">Precio de Costo</label>
              <input type="number" id="costPrice" class="form-control category-input" formControlName="costPrice" />
            </div>

            <!-- Precio Dealer -->
            <div class="col-md-6 mb-3">
              <label for="dealerPrice" class="form-label">Precio Dealer</label>
              <input type="number" id="dealerPrice" class="form-control category-input" formControlName="dealerPrice" />
            </div>

            <!-- Precio Venta -->
            <div class="col-md-6 mb-3">
              <label for="salePrice" class="form-label">Precio de Venta</label>
              <input type="number" id="salePrice" class="form-control category-input" formControlName="salePrice" />
            </div>
            <div *ngIf="productForm.errors?.['invalidPriceOrder']" class="text-danger">
              El orden de los precios no es válido. El precio de costo debe ser menor que el dealer y este menor que el
              de venta.
            </div>


            <!-- Sede -->
            <div class="col-md-6 mb-3">
              <label for="sede" class="form-label">Sede</label>
              <select id="sede" class="form-control category-input" formControlName="sede">
                <option value="">Seleccione una sede</option>
                <option *ngFor="let sede of sedes" [value]="sede">{{ sede }}</option>
              </select>
            </div>

            <!-- Descripción -->
            <div class="col-md-12 mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea id="description" class="form-control category-input" rows="3"
                formControlName="description"></textarea>
            </div>

            <!-- Imagen actual -->
            <div *ngIf="imagePreviewUrl" class="col-md-6 mb-3">
              <label class="form-label">Imagen actual</label>
              <div>
                <img [src]="imagePreviewUrl" alt="Imagen del producto" width="150" class="img-thumbnail border-0" />
              </div>
            </div>

            <!-- Subir nueva imagen -->
            <div class="col-md-6 mb-3">
              <label for="imageUrl" class="form-label">Subir Imagen</label>
              <input type="file" id="imageUrl" class="form-control category-input" (change)="onFileSelected($event)" />
            </div>
          </div>

          <div class="text-end mt-3">
            <button type="submit" class="btn btn-save me-2" [disabled]="productForm.invalid">
              {{ productForm.get('id')?.value ? 'Actualizar' : 'Guardar' }}
            </button>


            <button type="button" class="btn btn-secondary" routerLink="/productos">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>