<div class="container">
  <h2>{{ isEdit ? 'Editar proveedor' : 'Registrar proveedor' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="supplier.name" name="name" required />
    </div>

    <div class="mb-3">
      <label>RUC</label>
      <input type="text" class="form-control" [(ngModel)]="supplier.ruc" name="ruc" required />
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input type="email" class="form-control" [(ngModel)]="supplier.email" name="email" />
    </div>

    <div class="mb-3">
      <label>Teléfono</label>
      <input type="text" class="form-control" [(ngModel)]="supplier.phone" name="phone" required />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a routerLink="/suppliers" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
