<div class="container mt-4">
  <h2>{{ isEditMode ? 'Editar Vehículo' : 'Nuevo Vehículo' }}</h2>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Placa</label>
      <input formControlName="placa" class="form-control" type="text" />
    </div>

    <div class="mb-3">
      <label class="form-label">Marca</label>
      <input formControlName="marca" class="form-control" type="text" />
    </div>

    <div class="mb-3">
      <label class="form-label">Modelo</label>
      <input formControlName="modelo" class="form-control" type="text" />
    </div>

    <div class="mb-3">
      <label class="form-label">Año</label>
      <input formControlName="year" class="form-control" type="number" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
      {{ isEditMode ? 'Actualizar' : 'Guardar' }}
    </button>
    <a class="btn btn-secondary ms-2" routerLink="/vehiculos">Cancelar</a>
  </form>
</div>
