<div class="main-content container-fluid mt-4">
  <div class="text-center mb-4">
    <h2 class="section-title">Lista de Productos</h2>
  </div>

  <div class="mb-4">
    <input type="text" class="form-control search-input" placeholder="Buscar por código o nombre..."
      [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" />
  </div>
  <div class="text-end mt-4">
    <button class="btn btn-add-category" routerLink="/productos/nuevo">+ Nuevo Producto</button>
  </div>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card elegant-card h-100">
        <div class="card-img-wrapper">
          <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="product-image" alt="Imagen del producto" />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="product-title mb-2">{{ product.name }}</h5>
          <p class="product-code mb-1">Código: <strong>{{ product.cod }}</strong></p>
          <div class="product-details mt-2 mb-2">
            <span><i class="fa-solid fa-store"></i> {{ product.sede }}</span><br />
            <span><i class="fa-solid fa-tags"></i> {{ getCategoryName(product.categoryProductId) }}</span><br />
            <span><i class="fa-solid fa-truck"></i> {{ getSupplierName(product.supplierProductId) }}</span>
          </div>
          <div class="product-prices mt-auto">
            <p class="mb-1 text-light-emphasis">Costo: <strong>S/ {{ product.costPrice }}</strong></p>
            <p class="mb-1 text-light-emphasis">Distribuidor: <strong>S/ {{ product.dealerPrice }}</strong></p>
            <p class="mb-1 text-light-emphasis">Venta: <strong>S/ {{ product.salePrice }}</strong></p>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <button class="btn btn-edit btn-sm" *ngIf="product.id" (click)="editProduct(product.id)"><i
              class="fa-solid fa-pen-to-square"></i></button>
          <button class="btn btn-delete btn-sm" *ngIf="product.id" (click)="deleteProduct(product.id)"
            style="margin-left: 15px;"> <i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
  </div>


</div>