<div class="nav-left-sidebar sidebar-dark bg-dark text-white">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse show" id="navbarNav">
      <ul class="navbar-nav flex-column w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard"><i class="fa-solid fa-house"></i> Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cotizaciones"><i class="fa-solid fa-file-invoice"></i> Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/productos"><i class="fa-solid fa-toolbox"></i> Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clients"><i class="fa-solid fa-users"></i> Clientes</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
